/*CSS tipografia que utilizo

font-family: 'Dancing Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sacramento', cursive;
*/
/*bucles*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat+Alternates:ital,wght@0,100;0,200;1,200&family=Montserrat:ital,wght@1,600&family=Nunito:ital,wght@0,300;1,200&family=Quicksand:wght@300;400;600&family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,400;1,500&family=Sacramento&display=swap");
.font-weight-light {
  font-weight: 300; }

.font-weight-normal {
  font-weight: 400; }

.font-weight-bold {
  font-weight: 700; }

.fFamily-monterrat {
  font-family: "Montserrat"; }

.fFamily-nunito {
  font-family: "Nunito"; }

.fFamily-quicksands {
  font-family: "Quicksand"; }

/*mixin para la clase profesional_widget*/
/*
justify-content-center align-items-center list-unstyled d-flex flex-column
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*TEXTOS*/
.form-contact label {
  font-family: 'Nunito', sans-serif; }

.nav_text li a {
  font-family: 'Nunito', sans-serif; }

.active {
  font-weight: 600; }

.nav_text p {
  font-family: 'Nunito', sans-serif; }

.nav_text {
  font-family: 'Nunito', sans-serif; }

.myTitles div div p, .myTitles div div h5 {
  font-family: 'Dancing Script', cursive; }

.myTitles {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.5rem; }

.myTitlesEspecial {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 100px; }
  @media all and (min-width: 768px) {
    .myTitlesEspecial {
      font-size: 1.5rem; } }

/*AQUI TERMINA LOS TEXTOS*/
.navbar-toggler-icon {
  font-size: 1rem; }

body {
  overflow-x: hidden; }

nav {
  background-color: #ef9fe54a;
  border-radius: 0 0 40px 40px; }

.nav-item {
  transform: scale(1.1);
  transition-duration: 0.5s;
  z-index: 100; }
  .nav-item:hover {
    background-color: #ef9fe54a;
    border-radius: 50px 50px 50px 50px; }

.nav_logo img {
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  margin: 10px 20px; }

.servicio_image-container img {
  border-radius: 50%; }

/*MAIN INDEX*/
.p_container > p {
  font-size: 1.7rem;
  margin-top: 200px; }
  @media all and (max-width: 768px) {
    .p_container > p {
      font-size: 1.5rem; } }

.main_img img {
  width: 100vh;
  height: 600px;
  margin-top: 100px; }

.carousel-inner {
  border-radius: 50px 50px 50px 50px; }

.bannerPrincipal {
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 50px 50px 50px 50px; }
  .bannerPrincipal p {
    font-size: 1.2rem;
    color: #fff;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%; }
    @media only screen and (max-width: 768px) {
      .bannerPrincipal p {
        font-size: 15px; } }
    @media only screen and (max-width: 576px) {
      .bannerPrincipal p .bannerPrincipal p {
        font-size: 10px; } }

.glass {
  display: flex;
  justify-content: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  border: 2px solid transparent;
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(45, 55, 60, 0.3); }
  .glass p {
    font-size: 1rem; }

/*INDEX SERVICIO*/
.product_item:nth-child(even) {
  background-color: #d9d9d9; }

.letraBase, .letraBase p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  text-decoration: none; }
  @media all and (max-width: 768px) {
    .letraBase p {
      font-size: 1rem; } }
  @media all and (max-width: 576px) {
    .letraBase p {
      font-size: .9rem; } }
  .letraBase p a {
    font-family: 'Quicksand', sans-serif; }
    @media all and (max-width: 768px) {
      .letraBase p a {
        font-size: 1rem; } }

.profesional_widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row; }
  .profesional_widget img {
    width: 200px;
    height: 200px;
    transition-duration: 0.5s; }
    .profesional_widget img:hover {
      transform: scale(1.1); }
  @media only screen and (max-width: 768px) {
    .profesional_widget {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-direction: column; }
      .profesional_widget li img {
        width: 150px;
        height: 150px; } }

.contactanos {
  background: linear-gradient(90deg, #2ef2f2 10%, #89ffed 100%); }

.section-title {
  margin-bottom: 100px; }

/*FOOTER*/
.footer {
  background-color: #ef9fe54a;
  width: 100%;
  padding: 50px 0px; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }
  .box__footer.logo img {
    width: 180px; }
  .box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700; }
  .box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600; }
    .box__footer a:hover {
      opacity: 0.8; }
    .box__footer a .fab {
      font-size: 1.25rem; }
  .box__footer .terms {
    max-width: 350px;
    margin-top: -10px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px; }

.terms .logo img {
  width: 100px;
  border-radius: 50%; }

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }
  .box__copyright p {
    margin-top: 20px;
    color: #7a7a7a; }
  .box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a; }

.boton_compra {
  background-color: #161616;
  text-align: center; }

/*Pagina - SOBRE NOSOTROS*/
.nosotrosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.Dr {
  margin: 40px;
  display: flex; }
  .Dr p {
    margin: auto;
    font-size: 25px;
    box-shadow: 0 5px 15px rgba(3, 89, 92, 0.5); }
  @media only screen and (max-width: 768px) {
    .Dr {
      margin: auto;
      font-size: 15px; } }

.nosotrosContainer {
  width: 100%; }
  @media only screen and (max-width: 768px) {
    .nosotrosContainer .nosotrosContainer {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: center;
      align-items: center; } }

.partnerContainerImg img {
  width: 400px;
  height: 400px;
  object-fit: contain; }

.partnerContainerImg .partnerContainer {
  display: inline-block; }

.cards_container {
  height: 100%;
  margin: 100px 0; }

.card_especial {
  width: 768px;
  height: 800px;
  background-color: radial-gradient(90deg, #ef9fe54a, #fff);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 80px;
  transition: .5s; }

.card {
  width: 300px;
  height: 400px;
  background-color: radial-gradient(90deg, #ef9fe54a, #fff);
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 80px;
  transition: .5s; }
  .card:hover {
    box-shadow: 0 5px 15px rgba(3, 89, 92, 0.5);
    transform: translateY(-20px); }
  .card .us_description {
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgna(6, 74, 76, 0.18);
    text-align: center; }
    .card .us_description h3 {
      color: #899AFF; }
  .card .head {
    height: 125px;
    width: 100%;
    position: relative; }
    .card .head .circle {
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #FF80EF;
      bottom: 0; }
    .card .head .img {
      width: 150px;
      height: 150px;
      position: absolute;
      background-color: #fff;
      padding: 5px;
      border-radius: 50%;
      bottom: -30%;
      left: 25%;
      transform: translade(-50%); }
      .card .head .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover; }

/*Pagina - tratamientos*/
#treatment_container {
  margin: 50px; }

.tratamiento_container {
  grid-area: Dos;
  display: flex;
  flex-wrap: wrap;
  margin: auto; }
  .tratamiento_container ul {
    list-style: none; }

/*Pagina - promociones*/
.promociones_container {
  display: flex;
  flex-direction: column;
  margin: auto; }
  .promociones_container .promo {
    margin: auto; }

.proximamente img {
  width: 100px; }

.mercadopago {
  box-shadow: 0 15px 20px 1px;
  width: 50px; }

/*Pagina - contacto*/
.formulario {
  background-image: url(https://inturperu.edu.pe/wp-content/uploads/2019/06/Pasos-para-realizar-un-buen-tratamiento-facial1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; }

.form-contact {
  flex-grow: 1; }

div .checkBoxContainer {
  margin-top: 100px;
  padding: 0; }

.input-container input {
  width: 100%;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  padding: 12px;
  outline: none;
  border-radius: 50px 50px 50px 50;
  transition-duration: 0.3s; }
  .input-container input:hover {
    box-shadow: 0 1px 6px 0 #20214447; }
  .input-container input:focus {
    box-shadow: 0 1px 6px 0 #20214447;
    transform: scale(1.05); }
  @media only screen and (max-width: 768px) {
    .input-container input .input-container input {
      width: 250px; } }

.form-contact form div input {
  font-family: 'Quicksand', sans-serif;
  text-align: center; }

.ubicacion_maps {
  display: flex;
  min-width: 314px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px; }
  .ubicacion_maps iframe {
    flex-grow: 1; }
  .ubicacion_maps p {
    margin: 20px; }
