$point-md: 768px;
$point-sm:576px;

$mainColor: #000;

$bgColor: #ffcbcb;
$bgColorWhite:#fff;

$miWeight:(
	light:300 ,
	normal: 400, 
	bold: 700);

$color3:(
	primary:linear-gradient(90deg, #2ef2f2 10%,#89ffed 100%),
	pink:#ffcbcb,
	);

$myFonts:(
	monterrat:'Montserrat', 
	nunito: 'Nunito', 
	quicksands: 'Quicksand', 
	);


