@import "variable";
@import "tools";
@import "productos";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat+Alternates:ital,wght@0,100;0,200;1,200&family=Montserrat:ital,wght@1,600&family=Nunito:ital,wght@0,300;1,200&family=Quicksand:wght@300;400;600&family=Roboto+Condensed:wght@300;400&family=Roboto:ital,wght@0,400;1,500&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    overflow-x: hidden;
    }


/*Modificaciones de TEXTOS*/
.form-contact label{
    font-family: 'Nunito', sans-serif;
}

.nav_text li a{
    font-family: 'Nunito', sans-serif;
}
.active{
    font-weight: 600;
}
.nav_text p{
    font-family: 'Nunito', sans-serif;
}
.nav_text{
    font-family: 'Nunito', sans-serif;
}

.myTitles div div p ,.myTitles div div h5{
    font-family: 'Dancing Script', cursive;
}


.myTitles{
    font-family: map-get($myFonts, quicksands), sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.myTitlesEspecial{
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 100px;
    @media all and (min-width: $point-md){
        font-size: 1.5rem;
    }
}

.letraBase{
    @include textoNormal(1.2rem)
    p{
        @extend .letraBase;  
        @media all and (max-width:$point-md){
            font-size: 1rem;
                }
        @media all and (max-width:$point-sm){
            font-size: .9rem;
                }
        }
    p a{
        font-family: 'Quicksand', sans-serif;
        @media all and (max-width:$point-md){
            font-size: 1rem;
        }
    }
}

/*AQUI TERMINA LOS TEXTOS*/

//Navbar 

.navbar-toggler-icon {
    font-size: 1rem;
}

nav{
    background-color: #ffcbcb;
}

.navbar{
    padding-top:0 !important;
    padding-bottom:0 !important;
}



.nav_logo img{
    width: 50px;
    height:50px;
    display: flex;
    border-radius: 50%;
    margin: 10px 20px;
}

.servicio_image-container img{
    border-radius: 50%;
    transition-duration:0.5s;
    &:hover{
        transform:scale(1.05);
    }
}
/*MAIN INDEX*/


.p_container > p{
    font-size: 1.7rem;
    margin-top: 200px;
    @media all and (max-width:$point-md){
        font-size: 1.5rem;
    }
}

.main_img img{
    width: 100vh;
    height: 600px;
    margin-top: 100px;  
}


.bannerPrincipal{
    display: flex;
    background-size: cover;
    background-position: center;
    p{
        font-size: 1.2rem;
        color: #fff;
        margin: auto;
        font-family: 'Quicksand', sans-serif;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20%;
        @media only screen and (max-width: $point-md){
            font-size: 15px;
        }
        @media only screen and (max-width: $point-sm){
    .bannerPrincipal p{
        font-size: 10px;
            }
        }
    }
}
/*INDEX SERVICIO*/

.product_item:nth-child(even){
    background-color:#d9d9d9;
}


.profesional_container{
    p{
        @extend .letraBase;
        color: #ff7c7c;
        font-weight: 600;
    }
    @media screen and (max-width: 768px){
        p{
            display: none;
        }
    }
}

.profesional_widget{
    width: 768px;
    margin: auto;
    img{
    width: 250px;
    height: 250px;
    transition-duration: 0.5s;
    }
}

.section-title{
margin-bottom: 100px;
}

/*FOOTER*/

.footer{
    background-color: map-get($color3, pink);
    width: 100%;
    padding: 50px 0px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    &.logo img{
        width: 180px;
    }
    h2{
        margin-bottom: 30px;
        color: #343434;
        font-weight: 700; 
    }
    a{
        margin-top: 10px;
        color: #7a7a7a;
        font-weight: 600; 
        &:hover{
            opacity: 0.8;
        }
        .fab{
            font-size: 1.25rem;
        }
    }

    .terms{
        max-width: 350px;
        margin-top: -10px;
        font-weight: 500;
        color: #7a7a7a;
        font-size: 18px;

    } 
}


.terms .logo img {
    width: 100px;
    border-radius: 50%;
 }

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    p{
        margin-top: 20px;
        color: #7a7a7a;
    }
    hr{
        border: none;
        height: 1px;
        background-color: #7a7a7a; 
    }
}

.boton_compra{
    background-color: #161616;
    text-align: center;
}

/*Pagina - SOBRE NOSOTROS*/

.biografiaContainer{
    margin: 150px;
    border: 2px solid #999;
    transition-duration:0.5s;
    padding: 20px;
    @media screen and (max-width: $point-md){
        display: flex;
        flex-direction: column;
    }
    &:hover{
        box-shadow: 0 5px 15px rgba(3, 89, 92 , 0.5);   
    }
}

.biografiaContainer > .letraBase > p:first-child{
    @extend .font-weight-bold, .fFamily-monterrat;
}

.fotoBiografia{
    width: 300px;
    height: 400px;

}
.nosotrosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Dr{
    margin: 40px;
    display: flex;
    flex-direction:row;
    p{
    margin: auto;
    font-size: 25px;
    box-shadow: 0 5px 15px rgba(3, 89, 92 , 0.5);
    }
    @media only screen and (max-width: $point-md){
        margin: auto;
        font-size: 15px;
        }
}


.nosotrosContainer{   
    width: 100%;
    @media only screen and (max-width: $point-md){
        .nosotrosContainer{
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            justify-content:center;
            align-items:center;        }       
    }
}

.partnerContainerImg { 
    img{
    width: 400px;
    height: 400px;
    object-fit: contain;
}
.partnerContainer{
    display: inline-block;
    }
}

.cards_container{
   height: 100%;
   margin: 100px 0;
}
.WorkingAt{
    @extend .card_especial
}
.card_especial{
    width: 768px;
    height: 800px;
    background-color: radial-gradient(90deg, #ef9fe54a, $bgColorWhite);
    border-radius: 5px; 
    overflow:hidden;
    margin: 10px 80px;
    transition:.5s;
}

.card-containers_container{
    margin: 100px 0px;
}

.card-container{
    width: 300px;
    height: 400px;
    background-color: radial-gradient(90deg, #ef9fe54a, $bgColorWhite);
    border-radius: 5px; 
    overflow:hidden;
    margin: 10px 80px;
    transition:.5s;
    &:hover{
        box-shadow: 0 5px 15px rgba(3, 89, 92 , 0.5);
        transform: translateY(-20px);
    }
    .us_description{
        height: 200px;
        padding: 40px 20px 20px 20px;
        border-bottom: solid 1px rgna( 6, 74, 76, .18);
        text-align: center;
        @extend .letraBase;
        font-size: 1rem;
            h3{
                color:#899AFF;
            }
        }
    .head{
        height: 125px;
        width: 100%;
        position: relative;
        .circle{
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            background-color: #FFDADA; 
            bottom: 0;
        }
        .img{
           width: 150px;
           height: 150px;
           position: absolute; 
           background-color:$bgColorWhite;
           padding: 5px;
           border-radius: 50%;
           bottom: -30%;
           left: 25%;
           transform: translade(-50%);
           img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit:cover;

           }
        }
    }
}


/*Pagina - tratamientos*/

.product_image{
width: 300px;
height: 300px;
}

.tratamiento_container{
    grid-area: Dos;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    ul{
        list-style: none;
    }
}



/*Pagina - promociones*/
//en desarrollo
 
/*Pagina - contacto*/

.carrusel_container{
    height:620px;
}
.contact_main_container{
    min-width:412px;
}

.message_icon{
    font-size: 10rem;
    margin-top: 50px;
    opacity: 30%;
  }

.bg_contact{
    background-image: url(https://inturperu.edu.pe/wp-content/uploads/2019/06/Pasos-para-realizar-un-buen-tratamiento-facial1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 75%;
}

.formulario{
    .letraBase > p{
    @extend .font-weight-bold;
    color:#656161;
    margin-top: 50px;
    }

}
.form-contact{
    flex-grow: 1;
}

div .checkBoxContainer{
    margin-top: 100px;
    padding: 0;
}

.input-container input{
    width: 100%;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    padding: 12px;
    outline: none;
    border-radius: 50px 50px 50px 50 ;
    transition-duration: 0.3s;
    &:hover{
        box-shadow: 0 1px 6px 0 #20214447;
    }
    &:focus{
        box-shadow: 0 1px 6px 0 #20214447;
        transform: scale(1.05);
    }
    @media only screen and (max-width: $point-md){
        .input-container input{
            width: 250px;
            }
        }
    }


.form-contact form div input{
font-family: 'Quicksand', sans-serif;
text-align: center;
}

.ubicacion_maps{
    display: flex;
    min-width: 314px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    iframe{
        flex-grow: 1;
    }
    p{
    margin: 20px;    
    }
}







